IMUNode/central/build
IMUNode/periph/build

*.idea
*.PVS-Studio

Visualizer/4.2
Visualizer/lib
Visualizer/*runtime*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
